@use "color";

html {
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: sans-serif;
    background-color: var(--white-color);
    padding: 0;
    width: 100%;
}

.main-title {
    color: var(--red-color);
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: clamp(8pt, 2.5vw, 20pt);
}

.content {
    margin: 20px 10px;
    color: var(--brown-color);
    font-size: clamp(6pt, 2vw, 14pt);
}